vendor-prefixes ?= webkit moz o ms official

@import '/includes/mixins'
@import '/includes/*'
@import guide

.clear
  clearfix()

body
  background-color gc(white1)
  gf(copy1)
  padding 50px 10px 0 10px
  margin 0 10px 0 10px

.container
  max-width 1200px
  margin auto
  min-height 200px
  position relative

@import '/partial/*'
@import '/page/*'

