.page.contact
  > .title
    float left
    width 340px
    line-height 40px

  > .contacts
    float right
    width 600px
    padding 20px 0 20px 0
    > .contact
      float left
      width 260px
      padding 0 0 20px 0
      > .title
        gf(copy2)
        margin 0
        padding 0 0 5px 0
      > .line
        display block
        color gc(gold1)
        gf(copy3)
        letter-spacing 0px
        line-height 14px

  > .tiles
    > .tile
      &.tile_contact
        width 1083px
        height 644px
        background-image url('/images/contact/Contact_1083x644px_1.jpg')
        background-size contain
