.page.contact
  > .title
    float left
    width 330px
    line-height 40px

  > .contacts
    float right
    width 750px
    padding 20px 0 20px 0
    > .contact
      float right
      width 230px
      margin 0 0 20px 140px
      > .title
        gf(copy2)
        margin 0
        padding 0 0 10px 0
      > .line
        display block
        color gc(grey1)
        text-transform uppercase
        gf(copy3)
        letter-spacing 2px
        line-height 14px

  > .tiles
    > .tile
      &.tile_contact
        width 1083px
        height 644px
        background-image url('/images/contact/Contact_1083x644px_1.jpg')
        background-size contain


@media all and (min-width: 1px) and (max-width: 1000px)
  .page.contact
    > .title
      margin 40px 10px
      line-height 20px
    > .contacts
      clear both
      float none
      padding 0 0 20px 0
      width auto
      > .contact
        margin 10px
        width auto
        float none
