.page.studio, .page.work
  background-color transparent
  > .sidebar
    float right
    width 422px
    min-height 600px
    margin 0 0 30px 30px
    > .subtitle
      padding 0 0 10px 0
      text-transform uppercase
    > p
      text-transform uppercase

    > .largetext
      gf(h4)
      text-transform uppercase
      color gc(grey1)
      text-align left
      letter-spacing 3px
      margin 20px 0 80px 0

    > ul.listing
      margin 0
      padding 0 0 20px 0
      list-style-type none
      columns 2
      column-gap 0
      > li
        gf(copy3)
        margin 0
        padding 0 0 10px 0
        color gc(grey1)
        line-height 12px
        text-transform uppercase
        > a
          color gc(grey1)
          display block
          gf(copy3)
          text-decoration underline
          &:hover
            color gc(gold1)

  > .main
    > .title
      text-align left
      gf(h5)
      margin 0 0 30px 0
    > .subtitle
      text-transform uppercase
    > p
      gf(copy3)
      color gc(grey1)
      margin-bottom 20px
      text-transform uppercase

  > .tiles
    margin 30px 0
    padding 0 0 30px 0
    border-bottom 1px solid gc(blue1)

    > .tile
      background-size contain
      float left
      &.tile_office1
        width 684px
        height 525px
        background-image url('/images/tiles/studio/Office_684x525px_1.jpg')
        margin 0 30px 0 0
      &.tile_office2
        width 364px
        height 525px
        background-image url('/images/tiles/studio/Office_364x525px_2.jpg')
