.page.work
  > .copy
    columns 2
    > p
      gf(copy3)
      color gc(grey1)
      text-transform uppercase
      padding  0 0 10px 0
      margin 0

      /*
      float left
      width 35%
      padding 0 20px 0 0
      */

      /*
      columns 2
      */

  > .title
    margin 0 0 20px 0

  > a.link
    gf(copy3)
    color gc(grey1)
    padding 40px 0 0 0

  > .sidebar
    width 250px
    min-height auto
    margin 30px 0 30px 30px

    > ul.listing
      columns 1

  > .tiles
    > .tile
      display block
      float left
      background-size cover
      > .image
        background-color rgba(gc(blue1), 0.5)
        background-size contain
        width inherit
        height inherit
        onoff()
        animation fadeIn 0.25s ease-in-out 0s
      &.tile_stack
        margin 0 0 30px 0

      &.tile_left
        margin 0 30px 30px 0
      &.tile_clear
        clear both
      &.tile_full
        margin 0 0 30px 0
      &.tile_right
        float right
        margin 0 30px 30px 0

@media all and (min-width: 1px) and (max-width: 1000px)
  .page.work
    > .sidebar
      float none !important
      margin 20px 10px 0 10px
    > .title
      margin 0 0 0 10px 
    > .copy
      columns 1
      > p, > .link
        margin 10px 

