extends ../../extend/layout
block content

  .page.studio

    .sidebar
      .subtitle .SERVICES.
      ul.listing
        li BRAND IDENTITY
        li PACKAGING
        li PRINT
        li ENVIRONMENTS
        li BRAND STRATEGY
        li COPYWRITING
        li NAMING
        li SOCIAL MEDIA
        li PRODUCT DEVELOPMENT
        li WEB DESIGN + DEVELOPMENT
      .subtitle .PRESS + INTERVIEWS.
      ul.listing
        li: a(href='http://www.bunchmag.com/storiess/failure-doesnt-mean-what-you-think',target='_new') bunch magazine
        li: a(href='http://www.createcultivate.com/blog/designing-an-on-brand-and-on-point-website',target='_new') create and cultivate

      .subtitle .SELECT LIST OF CLIENTS.
      ul.listing
        li Sephora
        li Benefit Cosmetics
        li Nude Skincare
        li Credo Beauty
        li Ayla Beauty
        li Volition Beauty
        li TopShop
        li Feelunique
        li Sufferfest Beer Co.
        li Brown Estate
        li The Wine Group
        li Full Sun
        li Delbarr Co.
        li Create & Cultivate
        li Gold PR & Social Media
        li Daffodil Digital
        li El Destilado
        li Michael Mina Group
        li Intuit QuickBooks

      .largetext transforming big ideas into stand out design
    .main
      .title DESIGNSAKE STUDIO IS A MULTIDISCIPLINARY AGENCY SPECIALIZING IN BRANDING AND PACKAGING DESIGN. WE HELP BUILD INTENTIONAL BRANDS USING STRATEGIES AND SOLUTIONS TO TRANSFORM BIG IDEAS INTO STAND OUT DESIGN.
      .subtitle .STRATEGY & DISCOVERY.
      p NUNC VEL CONVALLIS EXOL VESTIBULUM ELEIFEND ELEIFEND RISUS, EU SUSCIPIT LEO LOBORTIS AT. SUSPENDISSE ULLAM CORPER MAURIS NON EUISMOD POSUERE. VESTIBU- LUM ANTE IPSUM PRIMIS IN FAUCIBUS ORCI LUCTUS ET ULTRICES POS UERE CUBILIA CURAE PELLENTESQUE NEC LACUS ENIM.
      .subtitle .BRAND IDENTITY.
      p NUNC VEL CONVALLIS EXOL VESTIBULUM ELEIFEND ELEIFEND RISUS, EU SUSCIPIT LEO LOBORTIS AT. SUSPENDISSE ULLAM CORPER MAURIS NON EUISMOD POSUERE. VESTIBU- LUM ANTE IPSUM PRIMIS IN FAUCIBUS ORCI LUCTUS ET ULTRICES POS UERE CUBILIA CURAE PELLENTESQUE NEC LACUS ENIM.
      .subtitle .WEB DESIGN.
      p NUNC VEL CONVALLIS EXOL VESTIBULUM ELEIFEND ELEIFEND RISUS, EU SUSCIPIT LEO LOBORTIS AT. SUSPENDISSE ULLAM CORPER MAURIS NON EUISMOD POSUERE. VESTIBU- LUM ANTE IPSUM PRIMIS IN FAUCIBUS ORCI LUCTUS ET ULTRICES POS UERE CUBILIA CURAE PELLENTESQUE NEC LACUS ENIM.
      .subtitle .BRAND MANAGEMENT.
      p NUNC VEL CONVALLIS EXOL VESTIBULUM ELEIFEND ELEIFEND RISUS, EU SUSCIPIT LEO LOBORTIS AT. SUSPENDISSE ULLAM CORPER MAURIS NON EUISMOD POSUERE. VESTIBU- LUM ANTE IPSUM PRIMIS IN FAUCIBUS ORCI LUCTUS ET ULTRICES POS UERE CUBILIA CURAE PELLENTESQUE NEC LACUS ENIM.

    .tiles
      .tile.tile_office1
      .tile.tile_office2
      .clear


