extends ../../extend/layout
block content

  .page.studio

    .sidebar
      .subtitle .SERVICES.
      ul.listing
        li BRAND IDENTITY
        li PACKAGING
        li PRINT
        li ENVIORNMENTS
        li BRAND STRATEGY
        li COPYWRITING
        li NAMING
        li SOCIAL MEDIA
        li PRODUCT DEVELOPMENT
        li WEB DESIGN + DEVELOPMENT
      .subtitle .PRESS + INTERVIEWS.
      ul.listing
        li BRAND IDENTITY
        li PACKAGING
        li PRINT
        li ENVIORNMENTS
        li BRAND STRATEGY
        li COPYWRITING
        li NAMING
        li SOCIAL MEDIA
        li PRODUCT DEVELOPMENT
        li WEB DESIGN + DEVELOPMENT

    .title DESIGNSAKE STUDIO IS A MULTIDISCIPLINARY AGENCY SPECIALIZING IN BRANDING AND PACKAGING DESIGN. WE HELP BUILD INTENTIONAL BRANDS USING STRATEGIES AND SOLUTIONS TO TRANSFORM BIG IDEAS INTO STAND OUT DESIGN.



