extends ../../extend/layout
block content

  .page.studio
    .sidebar.sidebar_desktop
      .sideimage
      .largetext transforming big ideas into stand out design
    .main
      .title DESIGNSAKE STUDIO IS A SAN FRANCISCO BASED STRATEGIC DESIGN AGENCY. WE TRANSFORM BIG IDEAS INTO STAND OUT DESIGN.

      .subtitle .WHY DESIGNSAKE.
      p PUT SIMPLY: BECAUSE WE CARE. WE MAKE YOUR BUSINESS OUR BUSINESS. IT IS OUR RESPONSIBILITY TO UNDERSTAND, EXPAND, AND ENHANCE YOUR VISION. TOGETHER, WE WILL SOLVE PROBLEMS. PERSEVERANCE AND PASSION LEAD THE WAY. WE WILL BUILD EXPERIENCES THAT FOSTER CONNECTION, SPARKING CURIOSITY AND MAKING MOMENTS INTO MEMORIES. SIDE BY SIDE WE WILL DESIGN BUSINESSES, PRODUCTS, AND SERVICES THAT CREATE VALUE. TO WORK WITH US, YOU MUST GET COMFORTABLE WITH THE UNCOMFORTABLE. THEREIN LIES GROWTH, OPPORTUNITY, AND CHANGE. LET’S FORGE THE UNKNOWN, TOGETHER.

      .subtitle .The company you keep.
      p The values we hold as individuals are reflected by the brands we let into our lives. This is why we work with our clients to translate their core values into meaningful strategy.

      .subtitle .Tangible experiences that build trust.
      p We create tangible experiences enriched with sentiments and signals; no gesture is too big or small to communicate your message. We work with you to design opportunities that deliver on your promise time and time again.

      .subtitle .Designed to Align.
      p From identities to packaging,we design with research and overall strategy in mind. We manifest your vision into intentional visual narratives that reflect an in-depth understanding of your brand at its very best.

      .subtitle .Better Together.
      p We are deeply devoted to our clients and know our best work comes from working together. Whether you’re a fresh startup or an established company with years of experience under your belt, we cultivate teams and processes to deliver exactly what you need. We will be with you every step of the way.

    .sidebar.sidebar_mobile
      .sideimage
      .largetext transforming big ideas into stand out design
    .clear

    .bottombar

      .listing 

        .subtitle .SELECT LIST OF CLIENTS.
        ul
          li Sephora
          li Benefit Cosmetics
          li Nude Skincare
          li Credo Beauty
          li Ayla Beauty
          li Volition Beauty
          li TopShop
          li Feelunique
          li Sufferfest Beer Co.
          li Brown Estate
          li The Wine Group
          li Full Sun
          li Delbarr Co.
          li Create & Cultivate
          li Gold PR & Social Media
          li Daffodil Digital
          li El Destilado
          li catherine kwong design
          li Intuit QuickBooks

      .listing

        .subtitle .SERVICES.
        ul
          li BRAND IDENTITY
          li PACKAGING
          li PRINT
          li ENVIRONMENTS
          li BRAND STRATEGY
          li COPYWRITING
          li NAMING
          li SOCIAL MEDIA
          li PRODUCT DEVELOPMENT
          li WEB DESIGN + DEVELOPMENT

      //.listing

        .subtitle .PRESS + INTERVIEWS.

        ul
          li: a(href='http://www.bunchmag.com/storiess/failure-doesnt-mean-what-you-think',target='_new') bunch magazine
          li: a(href='http://www.createcultivate.com/blog/designing-an-on-brand-and-on-point-website',target='_new') create and cultivate

      .clear

    .tiles
      .tile.tile_office1
      .clear


