header
  position relevant
  > .logo
    float left
    width 202px
    height 46px
    margin 0 0 0 84px
    > svg > path
      fill gc(blue1)

  .menu
    width 270px
    float right
    margin 0 20px 0 0
    gf(copy3) 
    > a.item
      text-decoration none
      display inline-block
      text-align center
      cursor pointer
      padding 5px 10px
      padding 0 10px 10px 10px
      color gc(blue1)
      text-transform uppercase
      &.on, &:hover
        color gc(gold1)

  .contact
    float right
    gf(copy2s)
    color gc(grey1)
    > .title, > .address > .line, > .email
      margin 0 0 5px 0
      color gc(grey1)
      gf(copy2s)
    > .address
      transition color 0.1s linear 0s
      &:hover
        color gc(gold1)
    > .email
      display block
      width 18px
      height 15px
      &:hover
        > svg > path
          fill gc(blue1)
      > svg > path
        fill gc(grey1)
        transition fill 0.1s linear

  .socials
    position fixed
    top 155px
    > a.social
      display block
      width 20px
      height 20px
      padding  10px 5px 10px 5px
      > svg > path, > svg > rect
        fill gc(grey1)
        transition fill 0.1s linear 0s
      &:hover > svg > path, > svg > rect
        fill gc(blue1)

@media all and (min-width: 1px) and (max-width: 1000px)
  header
    > .logo
      margin 0
    > .menu
      float none
      clear both
      margin auto
      padding 20px 0 
      width 234px
    > .socials
      display none
    > .contact
      display none
