
header
  > .logo
    float left
    width 202px
    height 46px
    > svg > path
      fill gc(blue1)

  .menu
    width 393px
    float right
    margin 0 50px 0 0 
    gf(copy3) 
    > a.item
      text-decoration none
      display inline-block
      text-align center
      cursor pointer
      padding 5px 10px
      color gc(blue1)
      &.on
        color gc(gold1)

  .contact
    float right
    gf(copy2)
    color gc(grey1)
    > .title, > .address > .line, > .email
      margin 0 0 5px 0
    > .email
      width 25px
      height 25px
      > svg > path
        fill gc(grey1)

  .socials
    position absolute
    top 100px
    left 10px
    > a.social
      display block
      width 20px
      height 20px
      padding  10px 5px 10px 5px
      > svg > path, > svg > rect
        fill gc(grey1)
        transition fill 0.1s linear 0s
      &:hover > svg > path, > svg > rect
        fill gc(blue1)
