.contact
  .title DESIGNSAKE STUDIO
  a.address(href=config.meta.gmap,target="_new")
    .line 295 KANSAS STREET
    .line SAN FRANCISCO CA
    .line 94103 
  a.email(href="mailto:" + config.social.mail)
    include ../../vector/email.svg

