
header
  .logo
    include ../../vector/logo1.svg

  .contact
    .title DESIGNSAKE STUDIO
    .address
      .line 295 KANSAS STREET
      .line SAN FRANCISCO CA
      .line 94103 
    .email
      include ../../vector/email.svg

  .menu
    .item.on .work.
    .item .studio.
    .item .contact.
    .item .journal.

  .socials
    a.social.instagram(href=config.social.instagram,target='_new')
      include ../../vector/instagram.svg
    a.social.pinterest(href=config.social.pinterest,target='_new')
      include ../../vector/pinterest.svg
    a.social.facebook(href=config.social.facebook,target='_new')
      include ../../vector/facebook.svg
    a.social.dribbble(href=config.social.dribbble,target='_new')
      include ../../vector/dribbble.svg

  .clear
.clear
