
.mobile.off
  .logo
    include ../../vector/logo1.svg

  include menu.pug

  include contact.pug

  .copy1 follow us
  
  include socials.pug

  .copyright &copy designsake studio.  all rights reserved

