
extends ../../extend/layout
block content

  .page.contact

    .title drop us a note.  we'd love to hear from you.

    .contacts

      .contact
        .title EMPLOYMENT INQUIRIES
        .line no positions are currently available, submissions are always welcome. Send to info@designsakestudio.com

      .contact
        .title NEW BUSINESS INQUIRIES
        .line Danielle McWaters
        a.line(href="tel:4154098046") 415-409-8046
        a.line(href="mailto:danielle@designsakestudio.com") danielle@desginsakestudio.com

      .clear

      .contact
        .title INTERNSHIP INQUIRIES
        a.line(href="mailto:info@designsakestudio.com") info@designsakestudio.com

      .contact
        .title PRESS & GENERAL INQUIRIES
        .line JULIANA ROSE
        a.line(href="tel:4153402293") 415-340-2293
        a.line(href="mailto:juliana@desginsakestudio.com") juliana@desginsakestudio.com


    .clear

    .tiles
      .tile.tile_contact.tile_full
        .image.off




