extends ../extend/layout
block content

  .page.home

    .title .transforming big ideas into stand out design.
    .tiles

      a(href='/work/fullsun').tile.tile_fullsun.tile_left
        .image
        .hover
          .title .full sun.

      a(href='/work/#eldestilado').tile.tile_eldestilado
        .image
        .hover
          .title .el destilado.

      a(href='/work/sufferfest').tile.tile_sufferfest.tile_left
        .image
        .hover
          .title .sufferfest.

      a(href='/work/#sumi').tile.tile_sumi
        .image
        .hover
          .title .sumi.

      a(href='/work/#brownestate').tile.tile_brownestate.tile_full
        .image
        .hover
          .title .brown estate.

      a(href='/work/#viehealing').tile.tile_viehealing.tile_left
        .image
        .hover
          .title .vie healing.

      a(href='/work/#fjordlife').tile.tile_fjordlife
        .image
        .hover
          .title .fjordlife.

      a(href='/work/#goldpr').tile.tile_goldpr.tile_left
        .image
        .hover
          .title .Gold PR.

      a(href='/work/#urbankitchen').tile.tile_urbankitchen
        .image
        .hover
          .title .urban kitchen.

    script.
      Index.i();
